@import '~antd/dist/antd.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

input {
    margin-bottom: 7px;
}

body{
    width: 100%;
    margin-top: 187px;
    height: calc(100% - 187px);
}

.error-text{
    color: #f80000;
}

.alert-bottom{
    position: fixed;
    bottom: 5px;
    left:15%;
    width: 70%;
}

.wrap{
    width: 1352px;
    margin: 0 auto;
}