@import '~antd/dist/antd.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

input {
    margin-bottom: 7px;
}

.error-text{
    color: #f80000;
}

.body{
    width: 100%;
    margin-top: 187px;
}

.alert-bottom{
    position: fixed;
    bottom: 5px;
    left:15%;
    width: 70%;
}

.wrap{
    width: 1352px;
    margin: 0 auto;
}