.authentication-container{
    float: right;
    height: 183px;
}

.login, .logout{
    text-align: center;
    padding: 10px;
}

.logout{
    padding-top: 22px;
}

.login{
    width: 380px;
}

.header .authentication-container .logout .buttons-container{
    width: 100px;
    margin: auto;
}

.header .authentication-container .btn-log-out{
    height: 30px;
    width: 100%;
    padding-top: 4px;
}

.header .authentication-container .logout .buttons-container .btn-xs{
    width: 45px;
}

.header .authentication-container .logout .buttons-container .left{
    float: left;
}

.header .authentication-container .logout .buttons-container .right{
    float: right;
}

.authentication-container button{
    margin-bottom: 5px;
}

.authentication-Modal{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    height: 450px;
    min-width: 600px;
    border:solid 2px #80b6e4;
    border-radius: 5px; 
    background-color: whitesmoke;
}

.input-container{
    margin: 0;
}