.authentication-container{
    text-align: center;
}

.login{
    padding: 5px;
    border-left: groove 1px black;
    margin-left: calc(100% - 400px); 
    background-color: rgb(235, 254, 255);
    position: relative;
    height: 183px;
    width: 400px;
}

.authentication-container button{
    margin-bottom: 5px;
}

.authentication-Modal{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    height: 450px;
    min-width: 600px;
    border:solid 2px #80b6e4;
    border-radius: 5px; 
    background-color: whitesmoke;
}

.input-container{
    margin: 0;
}