.body-nav-menu{
    width: calc(100% - 450px);
    display: inline-flex;
    flex-direction: row;
}

.body-nav-menu .link-box{
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    font-size: x-large;
}