.content-container{
    padding: 20px;
    width: 100%;
}

.content-container .scheme-container{
    overflow: auto;
    text-align: center;
    margin: 20px;
}

.content-container .seat-vip-booked{
    background-color: rgb(29, 175, 127);
}

.content-container .seat-default-booked{
    background-color:  rgba(163, 163, 163, 0.733);
}

.content-container .seat-default, .seat-vip, .seat-vip-booked, .seat-default-booked{
    width: 30px;
    height: 30px;
    border: solid black;
    margin: 5px;
    display: inline-block;
}

.content-container .seat-vip{
    background-color: aquamarine;
}

.content-container Button{
    margin-bottom: 5px;
    margin-right: 10px;
}

.add-cinema-Modal{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    height: 350px;
    width: 450px;
    border:solid 2px #80b6e4;
    border-radius: 5px; 
    background-color: whitesmoke;
}

.add-cinema-Modal Button{
    margin-bottom: 5px;
    margin-right: 10px;
}

.add-cinema-Modal h2{
    margin: 0;
}

.hidden{
    display: none;
}

.error{
    border-color: rgb(255, 133, 133);
}

.overflow{
    overflow: scroll;
    padding: 5px; 
} 

.row{
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.concluding-buttons{
    margin-top: 5px; 
    padding: 15px 0;
    border-top: solid 1px #e5e5e5; 
}

.buttons-for-list{
    margin-top: 5px;
}