.film-card{
    width: 318px;
    margin-top: 20px;
    margin-bottom: 20px; 
    padding: 0 39px;
    display: inline-block;
}

.film-card .post-card-image-container{
    width: 240px;
    height: 360px;
    margin-bottom: 15px; 
}

.film-card .film-card-name{
    text-align: center;
    margin-bottom: 10px;
}

.film-card .film-card-name a{
    font-size: x-large;
    font-weight: bold;
    color: black;
    transition: 0.3s ;
}

.film-card .film-card-name a:hover{
    color: rgb(120, 120, 120);
}

.film-card .film-card-button{
    width: 150px;
    display: block;
    margin: 0 auto;
}

.film-card .post-card-image{
    width: 240px;
    height: 360px; 
    object-fit: cover;
    border-radius: 10px;
}