.footer-wrap{
    padding: 25px 0 60px;
    background-color: #0d5b98;
    color: white;
}

.footer-wrap .footer-menu-item{
    display: inline-block;
    margin-right: 30px;
}

.footer-wrap .footer-menu-item .heading{
    font-size: 20px;
    font-style: bold;
}

.footer-wrap .footer-menu-item a{
    color: rgb(187, 219, 255);
    font-size: 15px;
}

.footer-wrap .footer-menu-item ul{
    margin: 0;
    padding-left: 5px;
    list-style: none;
}