.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #b29050;
}

.header-nav-menu{
    width: calc(100% - 450px);
    display: inline-flex;
    flex-direction: row;
}

.header-nav-menu a{
    color: white;
}

.header-nav-menu .link-box{
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    font-size: x-large;
}

.header-column{
    float: left;
}

.header .header-column .search-container{
    height: 30px;
    padding-top: 60px;
}

.header .header-column .search-container .form-control{
    height: 30px;
    width: 300px;
    margin: 0 5px 0 0;
    float: left;
}

.header .header-column .search-container .btn{
    height: 30px;
    padding-top: 4px;
}

.header .header-column .search-container .icon-image{
    padding: 3px;
    display: block;
    float: left;
    margin-right: 5px;
}

.header .header-column .logo{
    margin-right: 60px; 
}