.header{
    /* display: flex; */
    /* align-items: center; */
    width: 100%;
    height: 185px;
    position: fixed;
    top: 0;
    /* border: groove 1px black; */
    z-index: 1;
    background-color: #b29050; /*rgba(235, 235, 235);*/
}

.header-nav-menu{
    width: calc(100% - 450px);
    display: inline-flex;
    flex-direction: row;
}

.header-nav-menu .link-box{
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    font-size: x-large;
}

.header-column1{
    width: 100px; 
    height: 100px;
    float: left;
}