.list-box-container{
    display: block;
    margin: auto;
    padding: 10px;
    border: solid 1px #a8a8a8; 
    margin-bottom: 10px;
}

.list-container{
    margin: 30px 5px;
    max-width: 600px;
}

.list-box-inline-item{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px; 
}