.list-box-container, .clickable-session-list-box-container{
    display: block;
    margin: auto;
    padding: 10px;
    border: solid 1px #a8a8a8; 
    margin-bottom: 10px;
}

.list-container{
    margin: 20px 5px;
    max-width: 600px;
}

.list-box-inline-item{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px; 
}

.clickable-session-list-box-container{
    transition: 0.3s ;
}

.clickable-session-list-box-container:hover{
    background-color: rgb(200, 200, 200);
}