.inline-information-block{
    width: 100%;
    padding: 10px;
}

.inline-information-block > .information-block{
    font-size: large;
    padding: 5px;
    margin-right: 40px;
    display: inline-block; 
}

.header-string-box{
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
}

.choose-container{
    width: 100%;
}

.choose-container > .seats-scheme-container{
    padding: 20px;
    padding-right: 10px;
    width: 70%;
    display: inline-block;
}

.choose-container > .chosen-seats-container{
    padding: 20px;
    padding-left: 10px;
    width: 30%;
    display: inline-block;
}